@use '../../scss/partials/variables' as *;
@use '../../scss/partials/mixins' as *;

.postCard {
  width: 100%;
  border-radius: 4px;
  margin: 10px 0;
  &__header {
    display: flex;
    justify-content: space-between;
    background-color: $MainTheme;
    padding: 10px;
    flex-direction: column;
  }
  &__body {
    width: 100%;
    height: 100%;
    background-color: $MainTheme;
    .post-image {
      width: 100%;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $MainTheme;
    padding: 5px;
  }
}

.icon-wrapper {
  width: 30px;
  height: 30px;
}

.icon {
  width: 100%;
  height: auto;
}

.star-icon, .comment-icon {
  width: 30px;
  //height: 30px;
  display: flex;
  align-items: center;
}

.bookmark-icon {
  width: 30px;
}