@use '../../scss/partials/_variables.scss' as *;

.card {
  width: 100%;
  border: 1px solid $MainTheme;
  display: flex;
  justify-content: space-between;
  &__header{
    margin: 10px;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__img__container {
    width: 300px;
  }
  &__image {
    width: 100%;
  }
}
