@use '../../scss/partials/variables' as *;
@use '../../scss/partials/mixins' as *;

.feed {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 70px auto;
  grid-gap: 20px;

  &__main {
    width: 60%;
  }
  &__sidebar__wrapper {
    width: 30%;
  }

  .responsive-sidebar {
    width: 100%;
  }
}

.post-card-container {
  max-width: 700px;
  margin: 0 auto;
}

@include laptop() {
  .responsive-sidebar {
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 20%;
    background-color: $DarkTheme;
    height: 100%;
  }
  .feed {
    &__main {
      width: 60%;
    }
  }
}

@include mobile() {
  .responsive-sidebar {
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 60%;
    background-color: $DarkTheme;
    height: 100%;
  }
  .feed {
    display: flex;
    flex-direction: column;
    &__main {
      width: 100%;
      padding: 15px;
    }
    &__sidebar__wrapper {
      display: none;
    }
  }
}