@use '../../scss/partials/mixins' as *;
@use '../../scss/partials/variables' as *;

.navbar {
  background-color: $MainTheme;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //max-width: 1000px;
    //margin: 0 auto;
  }
  &__title {
    @include titleTheme($LightTheme, 27px);
  }
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    grid-gap: 15px;
  }

  &__link {
    @include linkBtn($LightTheme, 17px);
    text-decoration: none;
    width: 30px;
    height: 30px;
    .icon__link {
      width: 100%;
      height: auto;
    }
  }
}

.right {
  display: flex;
  grid-gap: 10px;
  align-items: center;
}

.hamburger-container {
  width: 50px;
  height: 50px;
  display: none;
}

@include mobile() {
  .hamburger-container {
    display: block;
  }
  .navbar {
    &__title {
      display: none;
    }
  }
}
