@use '../../scss/partials/_variables.scss' as *;
@use '../../scss/partials/_mixins.scss' as *;

.nav-container {
  background-color: $MainTheme;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 2px 20px;
  z-index: 1000;
}

.fa-bars {
  display: none;
}

.title-container {
  @include titleTheme($LightTheme, 21px);
}

ul.collapsed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  grid-gap: 20px;
}

.nav-link {
  color: $LightTheme;
  text-decoration: none;
  font-weight: 800;
}

@media screen and (max-width: 500px) {
  ul.collapsed {
    display: none;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .is-expanded {
    overflow: hidden;
    max-height: 500px;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #282c34;
    width: 100%;
    border-top: 1px solid #fff;
  }
  li {
    padding: 10px;
    margin: 0;
    width: 100%;
    list-style: none;
  }
  .fa-bars {
    display: block;
    padding: 0 5px;
  }
  .nav-link {
    color: #fff;
  }
}
