@use "variables" as *;

@mixin mobile {
  @media screen and (max-width: $MobileView) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $TabletView) {
    @content;
  }
}

@mixin btn($color) {
  border: solid 2px $color;
  background: linear-gradient(to right, transparent 50%, $color 50%) left;
  background-size: 200%;
  color: $color;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px;
  transition: 0.2s ease-out;
  &:hover {
    background-color: $MainTheme;
    color: $LightTheme;
    background-position: left;
  }
}

@mixin darkBtn($color) {
  border: solid 2px $color;
  background: linear-gradient(to right, transparent 50%, $color 50%) left;
  background-size: 200%;
  color: $color;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px;
  transition: 0.2s ease-out;
  &:hover {
    background-color: $SecondaryTheme;
    color: $MainTheme;
    background-position: left;
  }
}

@mixin titleTheme($theme, $size) {
  color: $theme;
  font-size: $size;
}

@mixin linkBtn($color, $size) {
  color: $color;
  font-size: $size;
}
