@mixin btn($color) {
  border: solid 2px $color;
  background: linear-gradient(to right, transparent 50%, $color 50%) left;
  background-size: 200%;
  color: $color;
  cursor: pointer;
}

@mixin titleTheme($theme, $size) {
  color: $theme;
  font-size: $size;
}
