
/*-------------------*/
      //Colours
/*-------------------*/
$MainTheme: #6c63ff;
$LightTheme: #f1f1f1;
$BackgroundTheme: #f5f4f8;
$BannerColour: #6C63FF;

/*-------------------*/
        //Sizes
/*-------------------*/
$MainFontSize: 19px;
$TitleFontSize: 26px;
$SubTitleFontSize: 23px;

/*-------------------*/
    //Screen sizes
/*-------------------*/
$MobileView: 500px;
$TabletView: 768px;
$LargeScreenView: 1024px;

/*-------------------*/
    //font family
/*-------------------*/

$MainFontFamily: 'Roboto Condensed', sans-serif;