
/*-------------------*/
     /* Colours */
/*-------------------*/
$MainTheme: #191a35;
$SecondaryTheme: #002233;
$DarkTheme: #0b0c27;
$LightTheme: #f1f1f1;
$BackgroundTheme: #f5f4f8;
$BannerColour: #6C63FF;

/*-------------------*/
      /* Sizes */
/*-------------------*/
$MainFontSize: 19px;
$TitleFontSize: 26px;
$SubTitleFontSize: 23px;

/*-------------------*/
  /* Screen Sizes */
/*-------------------*/
$MobileView: 500px;
$TabletView: 820px;
$LargeScreenView: 1024px;
$XLargeScreenView: 1440px;

/*-------------------*/
   /* font family */
/*-------------------*/

$MainFontFamily: 'Roboto Condensed', sans-serif;
