@use '../../scss/partials/_variables.scss' as *;
@use '../../scss/partials/_mixins.scss' as *;

.postform {
  width: 50%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  &__input {
    width: 100%;
    padding: 7px;
    margin: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid $MainTheme;
  }
  &__btn {
    @include btn($MainTheme);
    margin: 10px;
    padding: 7px 15px;
    transition: 0.2s ease-out;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-position: right;
      color: $LightTheme;
    }
  }
  &__textarea {
    width: 100%;
    margin: 10px;
    padding: 10px;
    height: 200px;
    border: 2px solid $MainTheme;
    &:focus {
      outline: none;
    }
  }
}
